@font-face{
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link{
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#000000;
}

.hero{
  background-color: #cd853f;
  background-image: url(../images/image/divider-hero.svg),url(../images/image/hero-back.jpg);
  background-position: bottom, top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-logo{
  padding-top:51px;
  padding-bottom: 82px;
  margin: auto;
}

/*h2*/
.title-section{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/*h3*/
.description-section{
  font-size: 22px;
  line-height: 26px;
}

/*advantages*/
.advantages-item h3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

/*Комфорт*/
.comfort-item h3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.comfort-icon{
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
}

.comfort-icon-house{
  background-image: url(../images/icons/house.svg);
}

.comfort-icon-food{
  background-image: url(../images/icons/food.svg);
}

.comfort-icon-souvenir{
  background-image: url(../images/icons/souvenir.svg);
}

/*Подписаться*/
.subscribe-index{
  color: #ffffff;
  background-color: #696969;
  background-image: url(../images/image/subscribe-back.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/*Подвал*/

.social-link{
  position:relative;
}

.social-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#83B3D3;
}

.footer-phone{
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color:  #000000;
}

/*Модальное окно*/
.title-modal{
  text-align: left;
}

/*Страница каталога*/
.catalog-products{
  color: #ffffff;
  background-color: #696969;
  background-image: url(../images/image/catalog-back.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-title{
font-size: 60px;
line-height: 78px;
font-weight: 700;
}

.breadcrumbs-link{
  font-size: 16px;
}

/*Фильтрация*/
.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control{
  line-height: 23px;
}

/*Сортировка*/
.catalog-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-title{
  color:#000000
}

.hotels-card-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.hotels-card-rating{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/*Каталог*/

.stars{
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/star.svg);
}

