@font-face{
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root{
  --basic-color: #333333;
  --more-color:  #000000;
  --dark-back: #ffffff;
  --body-color: #F2F2F2;
  --back-advantages: #82B3D3;
  --font-main: "PT Sans", sans-serif;
  --button-accent: #756157;
  --button-secondary: #82B3D3;
  --button-selected: #7DB54F;
}

.button{
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.25em;
  font-weight: 700;
  color: var(--dark-back);
  background-color: var(--button-accent);
  text-decoration: none;
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: var(--font-main);
  font-size: 22px;
  line-height: 1.18em;
  color: var(--basic-color);
  background-color:  var(--body-color);
}

.container{
  width: 1200px;
  margin: 0 auto;
  min-height: 100vx;
  background-color: var(--dark-back);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header{
  display: flex;
  padding: 0 70px;
  background-color: var(--dark-back);
}

/*Навигация*/

.navigation{
  display: flex;
  justify-content:space-between;
  width: 100%;
  margin: 0 auto;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user{
  margin-left: auto;
}

.navigation-link{
  display: block;
  font-size: 20px;
  line-height: 1.09em;
  font-weight: 700;
  text-decoration: none;
  color: var(--more-color);
}

.navigation-link-search{
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
}

.navigation-link-heart{
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/heart.svg);
  background-repeat: no-repeat;
}

.hero{
  background-color:#b1cdde;
  background-image: url(../images/image/divider-hero.svg),url(../images/image/hero-back.jpg);
  background-position: bottom, top;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
}

.hero-logo{
  display: block;
  padding-top:51px;
  padding-bottom: 82px;
  margin: auto;

}

/*h2*/
.title-section{
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
  color: var(--more-color);
  text-transform: uppercase;
}

.description-section{
  text-align: center;
}

/*advantages*/
.advantages-list h3{
  font-size: 24px;
  line-height: 1.16em;
  font-weight: 700;
  text-align: center;
  color: var(--more-color);
  text-transform: uppercase;
}

.advantages{
  text-align: center;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item{
  width: 400px;
}

.advantages-item-reverse{
  flex-direction: row-reverse;
}

.advantages-item-img{
  display: flex;
  width: 100%;
}

.advantages-item-block{
  width: 400px;
  color: var(--dark-back);
  background-color: var(--back-advantages);
}

.advantages-item p{
  font-size: 18px;
  line-height: 1.16em;
}

.advantages-item-block h3{
  color: var(--dark-back);
}

.advantages-item-twelve{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-twenty{
  background-color: rgba(131, 179, 211, 0.20);
}

/*Комфорт*/

.comfort-list{
  display: flex;
  text-align: center;
  list-style: none;
}

.comfort-item h3{
  font-size: 24px;
  line-height: 1.16em;
  font-weight: 700;
  color: var(--more-color);
  text-transform: uppercase;
}

.comfort-item p{
  font-size: 18px;
  line-height: 1.16em;
}

.comfort-title{
  position: relative;
  padding-top: 102px;
}

.comfort-title::before{
  position: absolute;
  content: "";
  width: 75px;
  height: 75px;
  top:-10px;

}

.comfort-title-house::before{
  background-image: url(../images/icons/house.svg);
  background-repeat: no-repeat;
}

.comfort-title-food::before{
  background-image: url(../images/icons/food.svg);
  background-repeat: no-repeat;
}

.comfort-title-souvenir::before{
  background-image: url(../images/icons/souvenir.svg);
  background-repeat: no-repeat;
}

/*Поиск гостиницы*/

.hotel-search{
  font-size: 20px;
  line-height: 1.8em;
  text-align: center;
}

/*Подписаться*/
.subscribe{
  text-align: center;
}

.subscribe-index{
  color: var(--dark-back);
  background-color: #b1cdde;
  background-image: url(../images/image/subscribe-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title{
  color: var(--dark-back);
}

.subscribe-form input[type=email]{
  font-size: 18px;
  line-height: 1.33em;
  color: var(--more-color);
  background-color: var(--body-color);
}

.subscribe-btn{
  font-size: 20px;
  line-height: 1.8em;
  background-color: var(--button-secondary);
}

/*Подвал*/
.page-footer{
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.social-list{
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  max-width: 150px;
  list-style: none;
}

.social-link{
  position:relative;
}

.social-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#83B3D3;
}

.footer-phone{
  font-size: 40px;
  line-height: 1em;
  text-decoration: none;
  color:  var(--more-color);
}

/*Модальное окно*/
.title-modal{
  text-align: left;
}

.modal-hidden label{
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 700;
}

.modal-hidden input{
  font-size: 18px;
  line-height: 1.33em;
  font-weight: 700;
  background-color: var(--body-color);
}

.modal-button{
  background-color: var(--button-secondary);
}

/*Страница каталога*/


.catalog-products{
  padding: 0 70px;
  color: var(--dark-back);
  background-color: #426d90;
  background-image: url(../images/image/catalog-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-title{
font-size: 60px;
line-height: 1.3em;
font-weight: 700;
}

.breadcrumbs{
  display: flex;
  align-items: center;
  list-style: none;
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 1.3em;
  display: block;
}

.breadcrumbs-link-home{
  width: 13px;
  height: 13px;
  background-image: url(../images/icons/bread-home.svg);
  background-repeat: no-repeat;
}

/*Фильтрация*/
.catalog{
  padding: 0 70px;
}

.filter-found{
  display: flex;
  justify-content: space-between;
}

.catalog-control{
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 1.16em;
}

.catalog-filter{
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group{
  border: none;
}

.catalog-filter-title{
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 700;
}

.control{
  font-size: 18px;
  line-height: 1.27em;
}

.filter-button{
  background-color: transparent;
  border:0;
  outline: none;
  text-decoration: none;
}

.button-on-active{
  background-color: var(--button-secondary);
}


/*Сортировка*/
.hotels-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.catalog-title{
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--more-color);
}

.card-title{
  color:var(--more-color);
}

.hotels-card{
  width: 340px;
}

.hotels-card-title{
    font-size: 24px;
    line-height: 1.16em;
    font-weight: 700;
}

.hotels-card p{
font-size: 18px;
line-height: 1.16em;
}

.button-favorites{
  background-color: var(--button-secondary);
}

.button-favorites-selected{
  background-color: var(--button-selected);
}

.stars{
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/star.svg);
}

.hotels-card-rating{
  font-size: 16px;
  line-height: 1.25em;
  text-transform: uppercase;
}

/*Пагинация*/
.pagination{
  display: flex;
  list-style: none;
}

.pagination-item{
  font-size: 20px;
  line-height: 1.8em;
}

.pagination-item a{
  font-weight: 700;
  color: var(--dark-back);
  background-color: var(--button-secondary);
}

.pagination-item-active a{
  color: var(--more-color);
  background-color: var(--body-color);
}
